

  
  .details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .account-info {
    width: 50%;
    border-style: double;
  }
  
  .account-info h2 {
    padding: 5px;
  }
  
  /* .account-info-content {
    display: flex;
    border-style: double;
    padding: 45px;
  } */
  .account-info-content {
    display: flex;
    justify-content: space-between; /* Adds space between the two columns */
    align-items: flex-start; /* Aligns items to the start of the container */
    gap: 20px; /* Adds some space between the two divs */
    
  
    
  }
  
  .account-info-content div {
    flex: 1; /* Ensures both divs take up equal space */
  }
  
  .account-info-content p {
    margin: 20px 0; /* Adjusts the margin for better spacing */
  }
  
  .additional-info {
    margin-left: 50px;
  }
  
  .chart-section {
    width: 30%;
    margin-right: 100px;
  }
  
  .billing-info {
    margin-top: 3px;
  }
  
  .policy-terms, .claims-section {
    margin-top: 20px;
    width: 100%;
  }
  
 
.account-info {
  grid-area: account-details;
  font-size: 14px;
  align-items: center;
}
.account-details:hover {
  transform: translateY(-5px);
  transform: scale(1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}
.details-screen {
  width: 1250px;
  margin-left: 25px;
}

.chart-section {
  width: 25%;
  padding: 1px;
  margin-top: 1px;
}

.chart-section canvas {
  margin-top: 1px;
  width: 25%;
  height: 20px;
}
