.content {
  width: 100%;
  padding: 20px;
 
}
.dashboard-card-container {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 20px;
  width: 50%;
}
.dashboardcard {
  background-image: url("./bggg2.jpg");
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #0e25ec;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}
.dashboardcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.dashboardcard:active {
  transform: translateY(4px);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}
.dashboardcard h3 {
  margin: 0;
  font-size: 1.5em;
  color: #051df4f8;
}
.dashboardcard p {
  font-size: 1.2em;
  color: black;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.grid-container {
  flex: 1;
  margin-right: 20px;
}

.priority-box {
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 100px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.high {
  background-color: #ff4d4f;
}
.medium {
  background-color: #ffa940;
}
.low {
  background-color: #52c41a;
}
.chart-container {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border:4 px solid black;
}
