.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e1e5ed;
  height: 64px;
}

.logo {
  width: 72px;
  height: 40px;
  object-fit: contain;
}
.complogo {
  width: 100px;
  height: 50px;
  margin-right: 750px;
  margin-left: 10px;
}
/* Search bar styling */
.searchContainer {
position: relative;
display: flex;
align-items: center;

max-width: 600px;


}

.searchInput {
width: 100%;
height: 40px;
padding: 10px 45px 10px ; /*Padding to create space for the icon */
border: 1px solid #ccc;
border-radius: 50px;
outline: none;
background-color: #f9f9f9;

font-size: 14px;
box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15), -3px -3px 8px rgba(255, 255, 255, 0.8);
transition: box-shadow 0.2s ease-in-out;
}
.searchInput:focus {
/* Enhance the 3D effect on focus */
box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2), -5px -5px 12px rgba(255, 255, 255, 0.9);
}



.searchIcon {
position: absolute;
left: 20px;
}

.searchIcon img {
width: 20px;
height: 20px;

}

.userInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userAvatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.userDetails {
  font: 10px;
}

.userName {
  margin-top: 9px;
  color: var(--Global-Neutral-Grey-1300, #0a090b);
  font-weight: 550;
  letter-spacing: -0.02px;
  margin-bottom: 1px;
}

.userRole {
  color: var(--Global-Neutral-Grey-1000, #4f4d55);
  font-weight: 400;
  letter-spacing: -0.05px;
}

.iconButton {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background: var(--Global-Neutral-Grey-300, #f1f1f1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuButton {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header {
    padding: 10px;
  }

  .userInfo {
    flex-wrap: wrap;
  }
}