/* LossInfo.css */

/* Tab styling */
.tab {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  border-bottom: 2px solid var(--Global-Neutral-Grey-300, #f1f1f1);
  justify-content: left;
}

.tab button {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0px;
  color: var(--Global-Neutral-Grey-800, #adacb0);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.3s ease;
  border-radius: 5px;
  border-color: 3px solid black;
  background-color: white;
  height: 35px;
  width: 200px;
}

.tab button.active {
  color: var(--Global-Neutral-Grey-1100, #2d2b32);
  background-color:#658ef5;
}

